
body{
    background-color: #f5f7fa;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    width:1200px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

}

.container{
    display:flex;
    width:1200px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

}

.top-side{
    width:1200px;
    height: 400px;
    background-color: #007ba7;
}

.section-body{
    margin-bottom: 60px;
}

.right-side{
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;
  padding-top: 68px;
  padding-bottom: 68px;
}

.left-side {
    order:-1;
    width: 370px;
    background-color: #1e2939;
    color: #fff;
}

