
body{
    background-color: #f5f7fa;
    padding: 40px;
    font-family: 'Montserrat', sans-serif;
}

.main-container{
    width:1200px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
    box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);

}

.container{
    display:flex;
    width:1200px;
    margin-left: auto;
    margin-right:auto;
    background-color: #fff;
}

.top-side{
    width:830px;
    height: 250px;
    color:#fff;
    background-color: #007ba7;
    margin-bottom: none;
    padding-left: 80px;
    padding-left: 80px;
    padding-right: 200px;
    padding-top: 80px;
    padding-bottom: 40px;
}

.section-body{
    margin-bottom: 60px;
}

.right-side{
  width: 830px;
  padding-left: 80px;
  padding-right: 200px;
  padding-top: 68px;
  padding-bottom: 68px;
}

.left-side {
    width: 370px;
    background-color: #1e2939;
    color: #fff;
    padding:30px;
}

.photo{
    width: 370px;
    height: 370px;
    padding:none;
    margin:none;
}

.description{
    text-align: justify;
}

